img {
    max-width: 30%;
    max-height: 30%;
}

html {
    background-color:  #d90000;
}
ul {
    background-color:  #d90000;
}

button {
    cursor: pointer; 
}
.search_btn {
    color : #d90000; 
    background-color : white;
}

#flights-list {
    width: 80%;
    text-align: center;
    margin-left: 10%;
  }
