

html {
    height: 300vh;
    background: #ffffff;
}




input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    right: 0;
    top: 0;
    width: auto;
}
* {
    margin: 0;
    box-sizing: border-box;
}

body {
font-family: Arial, Helvetica, sans-serif;
text-align: center;

}

h2 {
margin: 16px;
}

.container {
margin-top: 100 px;
padding: 32px;
}

.select-box {
display: flex;
width: 400px;
flex-direction: column;
}

.select-box .options-container {
background: #2f3640;
color: #f5f6fa;
max-height: 0;
width: 100%;
opacity: 0;
transition: all 0.4s;
border-radius: 8px;
overflow: hidden;


order: 1;
}

.selected {
background: #a90000;
border-radius: 8px;
margin-bottom: 8px;
color: #f5f6fa;
position: relative;

order: 0;
}

.selected::after {
content: "";
background: url("img/arrow-down.svg");
background-size: contain;
background-repeat: no-repeat;

position: absolute;
height: 100%;
width: 32px;
right: 10px;
top: 5px;

transition: all 0.4s;
}

.select-box .options-container.active {
max-height: 240px;
opacity: 1;
overflow-y: scroll;
}

.select-box .options-container.active + .selected::after {
transform: rotateX(180deg);
top: -6px;
}

.select-box .options-container::-webkit-scrollbar {
width: 8px;
background: #0d141f;
border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
background: #525861;
border-radius: 0 8px 8px 0;
}

.select-box .option-d,
.selected {
padding: 12px 24px;
cursor: pointer;
}
.select-box .option-o,
.selected {
padding: 12px 24px;
cursor: pointer;
}
.select-box .option-d:hover {
background: #414b57;
}
.select-box .option-o:hover {
    background: #414b57;
    }
.select-box label {
cursor: pointer;
}

.select-box .option-d .radio {
display: none;
}

.select-box .option-o .radio {
    display: none;
}
.flight-container {
    top: 0; 
    padding: 20px;
    background-color: #a90000;
    text-align: center;
}
.flight-info {

    display: inline;
    color:  #ffffff;
    font-size: 18px;
    font-weight: bolder;
    padding: 5%; 
}



.input-container {
    background-color : #035080;
    justify-content: center;
    padding: 15px; 
    margin-top: 70px;
    margin-bottom: 70px;
}
.input-box {
    border-radius: 8px;
    padding: 12px 24px;
    margin: 5px;
    position: relative;
}
.field-input-container {
    padding: 20; 
}

.date-label {
    position: absolute;
    z-index: 1; 
    background-color:#a90000;
    color:white; 
    font-size: 13px;
    padding: 3px;
}

.pass-label {
    margin: 5px; 
    color: #ffffff; 
    font-weight: bold;
}

.input-title {
    margin: 10px;
    color: #ffffff;
    font-size: 19px;
    font-weight: bolder;
}    
.mid{
    
    padding-top: 10px;

    padding-bottom: 10px;


}
.btm{
    padding-top: 10px;
    padding-bottom: 40px;


}

.pass-num {
    text-align: left;
    padding-left: 2px;
}


.nav-container {
    display: flex;
    justify-content: center;

}


.nav-btn, .btn-book-search {
    cursor: pointer;
    margin: 5px;
    background-color : #d90000; 
    color : white; 
    border-radius: 8px;
    padding: 10px 15px
}

.pay-text { 
    margin: 10px;
    padding: 15px; 
    background-color: #e4e2e2; 
    border: 3px solid #034374;  
    border-radius: 8px;
}

.pay-text label{ 
    color: #03477b; 
    font-weight: bolder; 
}

.price-table {
    padding-bottom: 10px;
    width: 100%; 
    border-top: 3px solid #034374; 
}
.price-table th, td{
    text-align: left;
}


.total-title, #total { 
    border-top: 2px dotted #03477b; 
}

.flight-row{
    background-color: #034374;
    color: #bfbbbb; 
}

.container {
    border: 6px solid #094d81;
    background-color:  #035080;
    padding: 10px; 
    margin-bottom: 10px;
    margin-top: 100px;
    text-align: center;
    
}

.container2 {
    border: 6px solid #094d81;
    background-color:  #035080;
    display: list-item;
    padding-left: 20%;

}

.headImage {
    display: flex;
    justify-content: center;

}

h1 {
    color: #d90000;
    font-size: 55px;
    display: inline;
   

}
img{
    max-width: 20%;
    max-height: 20%;
    display: inline;
    margin-left: 5px;
    order: 2;
}