img {
    max-width: 30%;
    max-height: 30%;
}

html {
    background-color:  #d90000;
}
ul {
    background-color:  #d90000;
}

button {
    cursor: pointer; 
}
.search_btn {
    color : #d90000; 
    background-color : white;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}